body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.divTable {
    display: table;
    width: 100%;
    border: black;
    border-style: solid;
    border-width: medium;
}

.divTableRow {
    display: table-cell;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}

.divTableCell, .divTableHead {
    border: 1px solid #000080;
    display: table-row;
    padding: 3px 10px;
    float: left;
}

.divParent {
    display: flex;
    flex-direction: row;
}

.divParent > .divTableCell {
    flex-grow: 1;
}
