@model WeatherForecast.Models.WeatherInfo

@{
    ViewBag.Title = "CurrentDayWeather";
    Layout = "~/Views/Shared/_WeatherLayout.cshtml";
    string cityName = @Model?.weatherInfo?.city?.name ?? "";
    int population = @Model?.weatherInfo?.city?.population ?? 0;
}

<h2>CurrentDayWeather</h2>

<table>
    <tr>
        <th>Weather Description</th>
    </tr>
    <tr>
        <td>City:</td>
        <td>@cityName</td>

        <td>Message:</td>
        <td>link@Model.</td>
    </tr>
</table>